body {
	padding: 0;
	margin: 0;
	background-color: #fefefe;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16pt;
	line-height: 1.5;
	overflow-wrap: break-word;
}

p {
	color: #24292e;;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.links {
	width: 20%;
	float: left;
}

li a {
	padding-top: .5%;
	padding-bottom: .4;
	min-height: 32pt;
	margin: auto;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.main {
	margin-top: 20%;
	margin: auto;
	width: 75%;
}
input {
	display: inline-block;
}
canvas {
	display: block;
	padding-bottom: 4%;
}
#notify {
	text-align: center;
}

