body {
	padding: 0;
	margin: 0;
	background-color: #fefefe;
	font-family: Helvetica, Arial, sans-serif;
}
#content {
	margin: auto;
	width: 75%;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.links {
	width: 20%;
	float: left;
}

li a {
	padding-top: .5%;
	padding-bottom: .4;
	min-height: 32pt;
	margin: auto;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	font-size: 16pt;
}
#gameboard {
	position: relative;
	display: block;
	margin: auto;
}
@media screen and (orientation: landscape) {
	span {
		padding: .5625% 1%;
	}
}