
body {
	padding: 0;
	margin: 0;
	background-color: #fefefe;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16pt;
	line-height: 1.5;
	overflow-wrap: break-word;
}

a img {
	margin-top: 1pt;
	min-height: 25px;
	min-width: 30px;
	height: auto;
	width: 5%;
	margin-right: 5pt;
}

div img {
	max-height: 100%;
	max-width: 100%;
}

hr {
	border-bottom: 1px solid black;
}

span {
	vertical-align: middle;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.links {
	width: 20%;
	float: left;
}

li a {
	min-height: 50px;
	margin: auto;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.main {
	margin: auto;
	width: 50%;
}

.about-me {
  padding-left: 200pt;
}
